.u-center {
  margin: 0 auto !important;
}

.u-width-50 {
  width: 50% !important;
}

.u-list-circle {
  list-style-type: circle !important;
}

.u-list-square {
  list-style-type: square !important;
}

.u-list-disc {
  list-style-type: disc !important;
}

.u-border-solid {
  border: 1px solid black;
}

.u-border-dashed {
  border: 1px solid black;
}
